@model IEnumerable<DAL.Entities.Models.Student>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div id="jsGrid"></div>

@section scripts {
    <script src="~/Scripts/Admin/jsgrid.min.js"></script>
    <script>
    $(document).ready( $(function(){
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",

            filtering: true,
            inserting: true,
            editing: true,
            sorting: true,
            paging: true,
            autoload: true,

            pageSize: 1,
            pageButtonCount: 5,

            deleteConfirm: "Do you really want to delete this student?",

            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/Home/GetStudents",
                        data: filter,
                        dataType: "JSON"
                    }).done(function (result) {
                        debugger;
                        console.log(result);
                    });
                },

                insertItem: function(item) {
                    return $.ajax({
                        type: "POST",
                        url: "/api/data",
                        data:item,
                        dataType: "json"
                    });
                },

                updateItem: function(item) {
                    return $.ajax({
                        type: "PUT",
                        url: "/api/data/" + item.ID,
                        data: item,
                        dataType: "json"
                    });
                },

                deleteItem: function(item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/api/data/" + item.ID,
                        dataType: "json"
                    });
                }
            },

            fields: [
                 { name: "Id", type: "text",editing:false, width: 150 },
                 { name: "Name", type: "text", width: 150 },
                 { name: "LastName", type: "text", width: 150 },
                 { name: "Age", type: "text", width: 50 },
                 { name: "RegisteredDate", type: "text", width: 150 },
                 { name: "StudyDate", type: "text", width: 150 },
                { type: "control" }
            ]
        });

    }));
    </script>
    }

